*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0% 95%);


}

.container {
    max-width: 500px;
    background-color: hsl(0, 0%, 15%);
    border-radius: 20px;
    overflow: hidden;
}
.container input {
    width: 100%;
    padding: 20px;
    border: none;
    outline: none;
    background-color: hsl(0, 0%, 20%);
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
    text-align: left;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 10px;
    padding: 25px;
}

button {
    border: none;
    width: 80px;
    height: 80px;
    border-radius: 50px;
    font-size: 3rem;
    font-weight: bold;
    background-color: hsl(0, 0%, 30%);
    color:#ffff;
    cursor: pointer;
}

button:hover {
    background-color: hsl(0, 0%, 45%);
}
button:active{
    background-color: #727469;
}
.operitor{
    background-color: #E85C0D;
}

.operitor:hover{
    background-color: #e25401;
}
.operitor:active{
    background-color: #e47d41;
}
